<!doctype html>
<html class="modern no-js" lang="{{ shop.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-color" content="{{ settings.color_nav_bg }}">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}
    <div>
    <!-- Social Meta Tags ===================================== -->
    {% include 'social-meta-tags' %}

    {% unless shop.description == blank %}
      <meta name="description" content="{{ shop.description | escape }}">
    {% endunless %}
    <div></div>

    <script>
      window.theme = window.theme || {};
      theme.settings = {
        cartType: {{ settings.cart_type | json }}
      };
    </script>

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>


    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  </head>